*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: Helvetica,Arial,sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none !important;
}

.banner a {
	color: #1d1d1d !important;
}

ul li {
	list-style: none;
}

span{
	font-size: 14px;
}

.title{
	margin-bottom: 20px;
	font-size: 12px;
}

.banner {
	width: 100%;
	position: fixed;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ececec;
	z-index: 1;
}

#glyphicon {
   position: absolute !important;
   top: 28% !important;
   color: black;
   z-index: 1;
   font-size: large;
   left: 95%;
}

.mainbanner {
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
}

.mainbanner ul li {
	float: left;
	list-style: none;
	padding: 10px 20px;
}

.mainbanner ul {
	margin-left: 350px;
}

.top {
	background-color: black;
	height: 7px;
}

.logo {
	width: 10%;
	height: 40%;
	margin: 10px auto;
}

.logo img {
	width: 100%;
	height: 100%;
}

.menu {
	display: none;
	position: fixed;
	top: 100px !important;
	left: 0;
	width: 100%;
	max-height: calc(100vh - 140px);
	background: #fff;
	border-top:1px solid #cdcdcd;
}

figure{
	float: left;
	width: 200px;
}

figure>img{
	margin: 20%;
	width: 80%;
}

figcaption{
	margin: -20px 0 20px 50px;
}

.menu_tab {
	float: left;
	margin: 3% 7%;
	text-align: justify;
}

.ulbanner {
	height: 60px;
	margin: -9px auto;
}

.border-black{
	border-bottom: 5px solid #000000;
	margin-top: 0px;
}


.ulbanner  > div{
	width: 580px;
	margin: 0 auto;
}
.ulbanner ul{
	margin: 0 auto;
	float: left;
}
.ulbanner ul li {
	margin: 0;
	width: 145px;
	text-align: center;
}

.ulbanner ul li:hover {
	background: #ffffff;
}

.ulbanner ul a {
	display: block;
}

hr.divider
{ 
   margin-top: 0em;
   margin-bottom: 0em;
   border-width: 1px;
}

/* 内容 */

#content {
	text-align: center;
}

.Chanel-news{
	position: fixed;
	top: 130px;
	left: 20%;
	height: 150px;
}

video{
	margin-top: 400px;
}

img{
	width: 650px;
}

#slider{
	width:690px;
	height:212px;
	overflow:hidden;
	padding:20px 15px;
	position:relative;
	margin:0 auto;
}

.scroll{
	width:623px;
	height:212px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
	}

.scrollContainer{
	position: relative;
	width:1815px;
	left:0px;
	}

.scrollContainer .current .inside{
	width:230px;
	height:188px;
}

.scrollContainer .panel
{
	width:170px;
	height:112px;
	float: left;
	margin-right:25px;
	display:inline;
}

.panel .inside{
	display:block;
	position:relative; 
}
.inside img{
	height:100%;
	width:100%;
}

	
.btnMode a.btn{
	background:url('../img/index.png') no-repeat;
	}
	
.btnMode a.btn{
	width:20px; 
	height:39px;
	position:absolute;
	top:125px; 
	}
	
.btnMode a.prev{
	left:0;
	background-position:0 -61px;
	}
	
.btnMode a.prev:hover{
	background-position:0 -102px;
}

.btnMode a.next{
	right:0;background-position:-50px -61px;
	}
	
.btnMode a.next:hover{
	background-position:-50px -102px;
	}

button{
	width: 135px;
	height: 60px;
	background: none;
	border: darkgrey solid 0.0625rem;
	margin-top: 200px !important;
}

#contact{
	padding-top: 300px;
	height: 500px;
	font-size: 12px;
}

#contact span{
	font-size:larger;
	text-align: left; 
	color: #767676;
	font-size: 14px;
}

.contact1 {
	position: relative;
	left: 7%;
	float: left;
}

.contact2 {
	position: relative;
	left: 30%;
	float: left;
}

.contact3 {
	position: relative;
	text-align: left;
	left: 40%;
	float: left;
	height: 250px;
}

#contact-logo{
	border-top: 1px solid #ececec;
}

#contact-logo svg{
	width: 65px;
	height: 10px;
	position: relative;
	left: -48%;
	bottom: -15px;	
}

#contact-logo li:nth-child(2){
	position: relative;
	left: -41%;
	bottom: 5px;
	list-style: disc;
}

input{
	border-top-style: none;
	border-left-style: none;
	outline:none;
	border-right-style: none;
	font-size: larger;
	width: 300px;
	height: 30px;
	margin-top: 20px !important;
}

.contact3 input{
	margin-top: 40px !important;
}

/* 尾部 */
.row {
	margin-top: 180px;
	width: 100%;
}

.row a{
	color: #9b9b9b !important;
}

.footer {
	background-color: #000000;
	color: #FFFFFF;
}

.footer-logo{
	margin-left: 8%;
}

#logo {
	width: auto;
	height: 30px;
	margin-top: 60px;
	margin-left: 38%;
}

hr {
    border-top: 1px solid #ffffff !important;
	width: 90%;
}


.footer-language {
	margin-bottom: 15px;
	padding-bottom: 10px;
	color: #9b9b9b;
}

.footer-language>a{
	color: #FFFFFF;
}

.footer-language>a:hover{
	color: #9b9b9b;
}

.zhezhao{
	position: fixed;
	left: 0px;
	top: 0px;
	background: #000;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

.tankuang{
	position: relative;
	top: -550px;
	left: 25%;
	background-color: #fff;
	width: 500px;
	height: 494px;
	border-radius: 5px;
	overflow: hidden;
}
			
#header{
	height: 40px;
	font-family: chanel;
	text-align: center;
	padding: 20%;
}

#header p{
	color: #767676;
}
			
#header-right{
	position: absolute;
	top: 36px;
	right: 36px;
	width: 16px;
	height: 16px;
	background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAWCAYAAADAQbwGAAAACXBIWXMAAAsSAAALEgHS3X78AAABM0lEQVR42rVVOwqEMBDNAbyGgmChgtpoISpaelMLL2RvIYL/3ywTSIhZFxY2+yCo83nOm4yRgGKQ67oA13Ec9IpgtieIvvM8eR5b5CnhG3yKoxXu+w5VVcE8z/zNT0nsGatCdF0HdV3TeF4hkg3DALZtQ1EU1MmkiCQiGd6P4wie50GSJLBtG7VjHiXEgLZtQdd1yPOcO2VS9oxkQRBQQixG3AMiSzAMg5OyQDFmmiZKhmtd11uL3nYZ0fc9mKbJ5aMPJSGwx77vQxiGnIzlMSVEbLxIalkWZFnGbSjNcRyIogiWZbnFi6NEZAP2lMlH0jRNoWkacF2XVoZViorkSbjNobyTWGkcx6BpGpRlSWWi7xPZ/wiVSla+KcrHRvlgK//0lB8Oyo8veY6UHLB//QX8ihfsYU49XMBeqgAAAABJRU5ErkJggg==) no-repeat center center;
	z-index: 1;
	padding: 0;
	border-radius: 0;
	border: 0;
	cursor: pointer;
	box-sizing: content-box;
}
			
#title{
	color: #1d1d1d;
	font-weight: 600;
}
			
label{
	color: #1d1d1d;
	font-weight: 600;
}
			

ul {
	list-style: none;
}

.model-select-box {
	width: 232px;
	height: 38px;
	line-height: 34px;
	border: 1px solid #E3E3E3;
	position: relative;
	right: -33px;
	box-sizing: border-box;
	color:#7b7b7b;
}

.model-select-text {
	height: 34px;
	padding-right: 27px;
	cursor: pointer;
}

.model-select-option {
	display: none;
	position: absolute;
	background: #fff;
	width: 100%;
	left: -1px;
	border: 1px solid #000;
}

.model-select-option li {
   height: 30px;
   line-height: 30px;
   color: #000;
   cursor: pointer;
}

.model-select-option li.selected {
	background: #cacaca;
    color: #000000;
}

/* 小三角 */
.bg1 {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	background: url(https://services.chanel.com/img/select-arrow.png) no-repeat right top;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -10px;
	overflow: hidden;
}

#submit{
	float: left;
	margin: 21%;
	width: 170px;
	height: 46px;
	background-color: #000000;
}